body {
    background-color: lightblue;
    font-size: 20px;
}
h2 {
    font-size: 1.0em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    font-size: 20px;
    color: red;
}
q {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(204, 2, 255);
}
blockquote {
    color: red;
    font-size: 40px;
}
p {
    text-align: justify;
}